@use '../components/about/about.scss';
@use '../components/contact/contact.scss';
@use '../components/home/home.scss';
@use '../components/navbar/navbar.scss';
@use '../components/projects/projects.scss';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bigelow+Rules&family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import './variables';
@import './mixins';


html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-color: $color-grey;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue';
}

// tablet screen version


 @media screen and (max-width: 768px) {

    html {
        font-size: 90%;
        scroll-padding-block-start: 8rem;
    }

    .mobile-home {
        display: block;
        height: 100vh; 
        background-image: radial-gradient(circle, $color-yellow, $color-lightGrey);
    }

    .desktop-home {
        display: none;
        
    }

    //navbar hamburger

    nav {
        background-color: $color-grey;
    }

    .NavBar {
        opacity: 1;
        background-color: $color-grey;
    }

    .NavBar .navigation {
        display: none;
    }
    .NavBar .mobile-nav {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
        .hamburger {
            cursor: pointer;
            padding: 0.5rem;
        }
    }

    .NavBar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        border-top: 2px solid white;
        background-color: $color-grey;
    }

   
    nav .mobile-nav ul li a:hover {
        border-bottom: none;
        color: $color-yellow;
    }

    // home section

    .regular-style span h1{
        font-size: 3rem;
    }

    .developer-text {
        display: none;
    }

     // about section

    .sec-2 {
        grid-template-areas: 'intro skills'
                             'about about';
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: 30% 70%;
        background-color: $color-grey;
    }
    
    .side_container {
        padding-top: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        .intro h3 {
            text-align: center;
            padding: 1rem;
        }
        .img_container {
            padding: 1rem 0;
            margin-top: 1rem;
        }
    }
    
    .skills {
        align-self: center;
        border: none;
    }

    // project section

    .projects_wrapper {
        flex-direction: column;
    }

    .projects {
        width: calc(100% - $margin-container);
    }

}

 
// mobile screen version

@media screen and (max-width: 568px) {
    html {
        font-size: 80%;
        scroll-padding-block-start: 8rem;
    }

    // about section

    .sec-2 {
        grid-template-areas: 'intro' 
                             'skills'
                             'about';
        grid-template-rows: repeat(2, 25%) 50%;
        grid-template-columns: 100%;
        background-color: $color-grey;
    }

    .side_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        .intro h3 {
            text-align: center;
            padding: 1rem;
        }
        .img_container {
            padding: 1rem 0;
            margin-top: 1rem;
        }
    }

    .skills {
        align-self: center;
        border: none;
    }

    // contact section
    .main-contact {
        grid-template-areas: 'form' 
                             'contact';
        grid-template-rows: 80% 20%;
        grid-template-columns: 1fr;
    }

    .info-container {
        padding: 0;
    }
    .logo {
        display: none;
    }

    .formContainer .msg-write .message-me {
        margin: 0;
        width: 100%;
    }

    .formContainer .msg-write .form {
        margin: 0;
        width: 100%;
    }
   
    
}

    
