@import '../../styles/variables';
@import '../../styles/mixins';

/* navbar styling */

.NavBar .color-change {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-grey;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    .button {
        border: 1px solid $color-green;
        padding: 8px;
        margin-right: 1.5vw;
        border-radius: 3px;
        &:hover {
            border: 1px solid white;
        }
        .cv-link {
            text-decoration: none;
            color: white;
            font-family: 'Bebas Neue';
            letter-spacing: 5px;
        }
    }
}

.NavBar .transparent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    // .logo {
    //     animation: rotation 5s linear infinite;
    //     &:hover {
    //         animation: scale 2s linear;
    //     }
    // }
    .button {
        border: 1px solid $color-green;
        padding: 8px;
        margin-right: 1.5vw;
        border-radius: 3px;
        &:hover {
            border: 1px solid white;
        }
        .cv-link {
            text-decoration: none;
            color: white;
            font-family: 'Bebas Neue';
            letter-spacing: 5px;
        }
    }
    
}

@keyframes rotation {
    from {transform: rotate(0deg)};
    to {transform: rotate(360deg)};
}

@keyframes scale {
    0% {transform: scale(1)};
    25% {transform: scale(1.25)};
    50% {transform: scale(1.5)};
    75% {transform: scale(1.25)};
    100% {transform: scale(1)};
}


.NavBar nav ul li {
    display: inline-block;
    margin: 1.5vw;
    padding-top: 1rem;
    a {
        text-decoration: none;
        color: white;
        font-family: 'Bebas Neue';
        letter-spacing: 5px;
        &:hover {
            color: $color-green;
        }
    } 
}

.NavBar .mobile-nav {
    display: none;
}